$accent: #00cce1;
.currencyListContainer{
    border: 1px solid #848e9c;
    padding: 12px 8px 12px 4px;
    margin-bottom: 20px;
    width: 325px;

    &Inner{
        overflow-y: scroll;
        overflow-x: hidden;
        height: 230px;
    }
    &Titles{
        display: flex;
        justify-content: space-between;
        color: #a9b0bb;
        font-size: 15px;
        font-weight: 600;
        padding: 8px ;
        span{
            text-align: right;
            flex: 1;
            &:first-child{
                text-align: left;
            }
        }
        
    }
    .currencyListSearch{
        width: 100%;
        margin: 5px;
        position: relative;
       
    }
    .currencyListInput{
        width: 95%;
        background-color: rgb(70, 70, 70);
        border: 1px solid rgb(70, 70, 70);
        border-radius: 4px;
        padding: 6px 3px;
        margin: 0 auto;
        color: #fff;
        font-weight: 600;
        text-indent: 20px;
        &:focus{
            outline: none;
            border: 1px solid $accent;
        }
    }
    .currencyListFilter{
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
       
    }
}
