$accent: #00cce1;
.header{
    background-color: #1a1a1a;
    padding: 20px 10px;
    &Inner{
        max-width: 1450px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &Desc{
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
    }
    &Logo{
        color: $accent;
        font-weight: 800;
        font-size: 28px;
       
    }
    &LogIn{
        background-color: $accent;
        font-weight: 600;
        text-transform: uppercase;
        padding: 8px 16px;
        border: none;
        border-radius: 8px;
        margin: 0 10px;
        cursor: pointer;
    }
    &Link{
        color: #dddddd;
        text-decoration: none;
        font-weight: 600;
        margin: 0 10px;
    }
    &Right{
        display: flex;
        align-items: center;
    }
    .userBox{
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 600;

        &Img{
            width: 30px;
            height: 30px;
            margin-right: 7px;
        }
        &Name{
            margin: 0;
            padding: 0;
            font-size: 14px;
            color: $accent;
        }
        &Email{
            margin: 0;
        }
    }
}