.pairItem{
    display: flex;
    justify-content: space-between;
    color: #848e9c;
    font-size: 14px;
    padding: 5px 0;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        background-color: #2b3139;
    }
    .pairItemName{
        font-weight: 500;
        padding-left: 7px;
    }
    .pairItemPrice{
        
        padding-right: 6px;
        //right: -29px;
    }
    .pairWhite{
        color: #fff;
    }
}